@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Open+Sans&display=swap');

html,
body {
  color: #1F1302;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Roboto, Helvetica Neue, Helvetica, Arial sans-serif;
  line-height: 2;
  font-size: 0.925rem;
}

body {
  background-color: #F2EFE4;
  background-image: url('/img/chaturanga-small.svg');
  background-size: 50px 21px;
  background-repeat: repeat-x;
  background-position: 0 -2px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
  body {
    background-size: 56px 23px;
    font-size: 1.15rem;
  }
}
