@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Open+Sans&display=swap');

html,
body {
  background-color: #F2EFE4;
  color: #1F1302;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Roboto, Helvetica Neue, Helvetica, Arial sans-serif;
  line-height: 2;
  font-size: 0.925rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 1.25rem;
  }
}
